<div *ngIf="!rtl" class="mt-3 mb-1 row d-flex" [ngClass]="{'flex-row-reverse': isLargeScreen()}">
        <button 
        type="submit" 
        (click)="onsubmit()"
        class="btn btn-save btn-primary mb-1 mx-2 d-flex justify-content-center" 
        *ngIf="actionType=='basic' || actionType=='submit'" 
        >{{submitValue | translate}}
    </button>

    <button 
        type="button" 
        (click)="oncancel()" 
        *ngIf="actionType=='basic' || actionType=='cancel'" 
        class="btn btn-cancel mb-1 mx-2 d-flex justify-content-center"
        >{{cancelValue | translate}}
    </button>
</div>
<div *ngIf="rtl" class="mt-3 mb-1 row d-flex justify-content-end">
    <button 
    type="submit" 
    (click)="onsubmit()"
    class="btn btn-save btn-primary mb-1 mx-2 d-flex justify-content-center" 
    *ngIf="actionType=='basic' || actionType=='submit'" 
    >{{submitValue | translate}}
    </button>

    <button 
    type="button" 
    (click)="oncancel()" 
    *ngIf="actionType=='basic' || actionType=='cancel'" 
    class="btn btn-cancel mb-1 mx-2 d-flex justify-content-center"
    >{{cancelValue | translate}}
    </button>
</div>