.card.project-item {
    width: 18rem;
  margin: 10px;
  font-size: 16px;
}

@media (max-width: 500px) {
  .card.project-item {
    margin: 5px;
  }
}

.container{
  padding-top: 80px;
  padding-bottom: 80px;
}

.no-result{
  font-size: 2rem;
  text-align: center;
  margin-top: 100px;
  color: rgb(148, 148, 148);
}