<app-loading-icon *ngIf="isLoading"></app-loading-icon>

<div dir="rtl" class="body">
  <!-- Sidebar -->
  <nav class="sidebar">
    <div class="dismiss-sidebar" (click)="dismissSidebar()">
      <i class="fas fa-arrow-left"></i>
    </div>

    <div class="logo" routerLink="/home">
      <a class="navbar-brand" href="#">Etqan</a>
      <!-- <img src="./assets/images/ticketlineLogo.png" alt="logo" /> -->
    </div>

    <ul class="list-unstyled menu-elements">
      <li routerLink="/search" routerLinkActive="active">
        <a> {{ "الرئيسية" | translate }}</a>
      </li>
      <li routerLink="/project/index" routerLinkActive="active">
        <a>
          {{ "المشاريع" | translate }}
        </a>
      </li>
      <!-- <li routerLink="/project-file/index" routerLinkActive="active">
        <a>
          {{ "الملفات" | translate }}
        </a>
      </li> -->
      <li routerLink="/category/index" routerLinkActive="active">
        <a>
          {{ "فئات الملفات" | translate }}
        </a>
      </li>
      <li routerLink="/content-type/index" routerLinkActive="active">
        <a>
          {{ "أنواع المحتوى" | translate }}
        </a>
      </li>
    </ul>
  </nav>
  <!-- End sidebar -->

  <!-- Sidebar Dark overlay -->
  <div (click)="dismissSidebar()" class="sidebar-overlay"></div>

  <!-- ==========Header-Section========== -->
  <header class="header-section">
    <div class="container">
      <div class="header-wrapper">
        <div class="d-flex align-items-center">
          <div class="logo">
            <!-- <a > -->
            <a routerLink="/search" class="navbar-brand text-white p-2"
              >Etqan</a
            >
            <!-- <img src="./assets/images/ticketlineLogo.png" alt="logo" /> -->
            <!-- </a> -->
          </div>
          <a
            *ngIf="user"
            class="open-menu"
            (click)="openSidebar()"
            type="button"
          >
            <i class="text-white fas fa-2x fa-align-left"></i>
          </a>
        </div>
        <div *ngIf="user" class="header-button btn btn-outline-danger pr-0">
          <a (click)="signOut()">تسجيل خروج</a>
        </div>
        <div *ngIf="!user" class="header-button btn btn-outline-primary pr-0">
          <a routerLink="/login">تسجيل الدخول</a>
        </div>
      </div>
    </div>
  </header>
  <!-- ==========Header-Section========== -->

  <router-outlet></router-outlet>
</div>
